<!--Text contents for the cards-->
<% content_for :learn do %>
  <ul>
    <li>
      How to refactor JavaScript into clean code
    </li>
    <li>
      The 10 conventions that speed up reading and writing JavaScript for Rails
    </li>
    <li>
      How to organise JavaScript files (and why Webpacker is good fun)
    </li>
    <li>
      How your Ruby knowledge helps you to mastering ES6
    </li>
    <li>
      How to use JavaScript specific tools and apply them to Rails
    </li>

  </ul>
<% end %>
<% content_for :harvest do %>
  <ul>
    <li>DRY, re-usable JavaScript features</li>
    <li>Change-able, extendable, maintainable JavaScript (that your future self understands)</li>
    <li>Faster development</li>
    <li>Easy to reason about JavaScript, less cognitive complexity</li>
    <li>Well organised files (with Webpacker or the asset pipeline)</li>
  </ul>
<% end %>
<% content_for :bonus do %>
  <ul>
    <li>The 10 Conventions for writing Clean JavaScript Code, hand picked for Rails developers</li>
    <li>Cheatsheet ES6 for Ruby/Rails developers</li>
    <li>Checklist for importing JavaScript libraries in webpacker</li>
    <li>Javascript Code Sandbox Template for Rails work </li>
  </ul>
<% end %>
<% content_for :amsrb do %>
  Due to the Corona lockdown, we cancelled our plans for a workshop for the Amsterdam Ruby community.
  Instead, we turned the workshop into a full featured online course. And to be honest: we think
  it's even better than the workshop :-) Happy accidents.

<% end %>
<% content_for :pricing do %>
  If you have a job and can afford to pay, we kindly ask you for a contribution of <span style="white-space: nowrap">€ 35.</span>
  If you can't afford to spent money, please please join us anyway.
<% end %>

<% content_for :foryou do %>
  <div class="card-title">This course is for you if:</div>
  <div class="card-text">
  <ul>
    <li>
      You seek to be more confident about working with JavaScript code in your Rails app
    </li>
    <li>
      You are more comfortable in Rails than in JavaScript
    </li>
    <li>
    </li>
  </ul>
  </div>
<% end %>

<% content_for :notforyou do %>
  This course is not for you if:
  <ul>
    <li>
      You know exactly what you're doing and why re: JavaScript in your Rails app
    </li>
    <li>
      You are looking for the next course: how to refactor JavaScript files into independent components (this will be a follow up course)
    </li>
    <li> </li>
  </ul>
<% end %>

<section class="triangle">
  <div>
    <div class="hero-txt">
      <div class="hero-over-title"> How to write and maintain</div>
      <div class="hero-title">Clean JavaScript Code in your Rails App</div>
      <!--      <hr class="separator-line">-->
      <div class="hero-payoff">An online course about writing, organising and re-using JavaScript code for Ruby on Rails
        developers
      </div>

    </div>
  </div>
</section>

<section class="text-container">
  <div class="cards">
    <div class="card" id="course-content">

      <div class="card-header">
<!--        <div><%#= image_tag("learn-icon", size: 32, alt: "icon") %></div>-->
        <div class="card-title course-appetite">What you will learn</div>
      </div>
      <div class="card-text">
        <%= yield :learn %>
      </div>
    </div>
    <div class="card" id="goals">
      <div class="card-title course-appetite">What it means for your Rails app</div>
      <div class="card-text">
        <%= yield :harvest %>
      </div>
    </div>
    <div class="card" id="bonus">
      <div class="card-title course-appetite">Bonus Content</div>
      <div class="card-text">
        <%= yield :bonus %>
      </div>
    </div>
    <div class="card" id="amsrb">
      <div class="card-title course-around">Ams ruby workshop</div>
      <div class="card-text">
        <%= yield :amsrb %>
        </div>
    </div>
    <div class="card" id="pricing">
      <div class="card-title course-around">Corona Pricing</div>
      <div class="card-text">
        <%= yield :pricing %>
      </div>

    </div>
    <div class="card">
      <div style="color: orange">enroll now
      </div>
    </div>
    <div class="card">
      <div>
        <%= yield :foryou %>
      </div>
    </div>
    <div class="card">
      <div>
        <%= yield :notforyou %>
      </div>
    </div>
    <div class="card">
      <div>
        <%= yield :courseparts %>
      </div>
    </div>
  </div> <!--end cards grid-->
</section>

<section>
    <div id="aboutus">

      <div class="card-text">
        Maud about DJ: "I always wondered why DJ loved JavaScript so much. I know he loved Ruby, and I didn't understand how one can love Ruby and JavaScript at the same time.
        When I showed him a piece of my JavaScript in Rails code, and I started refactoring according to his opinions, I finally started to see
        what JavaScript <em>could</em> be - but almost never is. I admire his ability to play with the differences between the languages. And it's good fun to work with him."
        DJ about Maud:
      </div>
    </div> <!--end cards grid-->
</section>

<section>
  <div class="cards">
    <div class="card" id="aboutus">Nice blablabla about us</div>
  </div>
</section>

