<!--Text contents for the cards-->
<% content_for :learn do %>
  <ul>
    <li>
      How to refactor JavaScript into clean code
    </li>
    <li>
      The parts of JavaScript that are most useful for Rails developers
    </li>
    <li>
      How to organise JavaScript files (and what Webpacker has to do with it)
    </li>
    <li>
      How to leverage your Ruby knowledge to mastering ES6
    </li>
    <li>
      How to use JavaScript specific tools and apply them to Rails
    </li>

  </ul>
<% end %>
<% content_for :harvest do %>
  <ul>
    <li>DRY, re-usable JavaScript features</li>
    <li>Change-able, extendable, maintainable JavaScript (that your future self understands)</li>
    <li>Faster development</li>
    <li>Easy to reason about JavaScript, less cognitive complexity</li>
    <li>Well organised files (with Webpacker or the asset pipeline)</li>
  </ul>
<% end %>
<% content_for :bonus do %>
  <ul>
    <li>The 10 Conventions for writing Clean JavaScript Code, hand picked for Rails developers</li>
    <li>Cheatsheet ES6 for Ruby/Rails developers</li>
    <li>Checklist for importing JavaScript libraries in webpacker</li>
    <li>Javascript Code Sandbox Template for Rails work </li>
  </ul>
<% end %>
<% content_for :amsrb do %>
  The Corona lockdown counteracted the spring workshop for the Amsterdam Ruby community.
  Instead, we turned the workshop into a full featured online course. And to be honest: we think
  it's even better than the workshop :-) Collateral gains.

<% end %>
<% content_for :pricing do %>
  If you have a job and can afford to pay, we kindly ask you for a contribution of <span style="white-space: nowrap">€ 35.</span>
  If you can't afford to spent money, please please join us anyway.
<% end %>

<% content_for :foryou do %>
  <div class="card-title">This course is for you if:</div>
  <div class="card-text">
  <ul>
    <li>
      You seek to be more confident working with JavaScript code in your Rails app
    </li>
    <li>
      You are (far) more comfortable in Ruby and Rails than in JavaScript
    </li>
    <li>
      Learning a whole frontend framework is overkill and/or you're not a fan of Stimulus.
    </li>
    <li>
      You want to understand what Webpacker is all about, and how (not) to use it.
    </li>
  </ul>
  </div>
<% end %>

<% content_for :notforyou do %>
  <div class="card-title">This course is not for you if:</div>
  <div class="card-text">
  <ul>
    <li>
      You know exactly <em>what</em> you're doing and <em>why</em>, with regard to JavaScript in your Rails app
    </li>
    <li>
      You are looking for the part DJ showed in his talk: how to refactor JavaScript into independent components. This will be addressed in Part 3, coming soon</li>
    </li>
    <li>
      You are (almost) as proficient in JavaScript as in Ruby
    </li>
    <li>
      You are looking for a starter course in Rails or JavaScript.
    </li>
  </ul>
  </div>
<% end %>

<% content_for :courseparts do %>
  The current course is the first in a series of 3.
  It lays the foundation for the following courses, by introducing the conventions maintainable, re-usable and testable JavaScript for Rails.
  The next courses build upon the conventions.

    <ul>
      <li>Course 1: Clean JavaScript Code by following conventions.</li>
      <li>Course 2: Exchanging data between Rails and JavaScript</li>
      <li>Course 3: Components</li>
    </ul>
<% end %>

<section class="triangle">
  <div>
    <div class="hero-txt">
      <div class="hero-over-title"> How to write and maintain</div>
      <div class="hero-title">Clean JavaScript Code in your Rails App</div>
      <div class="hero-payoff">An online course about writing, organising and re-using JavaScript code for Ruby on Rails
        developers
      </div>

    </div>
  </div>
</section>

<section class="text-container">
  <div class="intro intro-with-button-centered">
    <%=button_tag "Enroll", class: 'btn-enroll' %>
  </div>
  <div class="intro">
    Plain ('vanilla') JavaScript goes a long way in adding interactivy and a nice, dynamic user interface in Rails apps.
    As a Rails developer, you don't need to be a JavaScript ninja to achieve some nice JavaScript sprinkles in your Rails views.
    Just learn the few <span class="accented">most useful parts of JavaScript for Rails development</span>. Follow some tried-and-true conventions.
    And find that working with JavaScript in Rails apps can be fun after all.
  </div>

  <h2 id="course-content" >About the Course</h2>
  <div class="cards">
    <div class="card">

      <div class="card-header">
<!--        <div><%#= image_tag("learn-icon", size: 32, alt: "icon") %></div>-->
        <div class="card-title course-appetite">What you will learn</div>
      </div>
      <div class="card-text">
        <%= yield :learn %>
      </div>
    </div>
    <div class="card" id="goals">
      <div class="card-title course-appetite">What it means for your Rails app</div>
      <div class="card-text">
        <%= yield :harvest %>
      </div>
    </div>
    <div class="card" id="bonus">
      <div class="card-title course-appetite">Bonus Content</div>
      <div class="card-text">
        <%= yield :bonus %>
      </div>
    </div>
  </div>

  <h2 id="amsrb">But what about the Ams.rb workshop?</h2>
  <div class="cards">
    <div class="card">
<!--      <div class="card-title course-around">Ams ruby workshop</div>-->
      <div class="card-text">
        <%= yield :amsrb %>
        </div>
    </div>
  </div>

  <h2 id="enroll now">Enroll now!</h2>
  <div class="cards">
    <div class="card" id="pricing">
      <div class="card-title course-around">Corona Pricing</div>
      <div class="card-text">
        <%= yield :pricing %>
      </div>
    </div>
    <div class="card">
      <div class="accented">enroll now</div>
    </div>
  </div>


  <h2 id="foryou" class="course-appetite">This is for you...</h2>
  <div class="cards">
    <div class="card">
      <div>
        <%= yield :foryou %>
      </div>
    </div>
    <div class="card">
      <div>
        <%= yield :notforyou %>
      </div>
    </div>
  </div>
   <div class="cards">
    <div class="card">
      <div class="card-text">
        <%= yield :courseparts %>
      </div>
    </div>
  </div> <!--end cards grid-->
</section>

<section class="text-container">
  <div id="aboutus">
    <div class="intro">
      Maud about DJ: "I always wondered why DJ loved JavaScript so much. I know he loved Ruby, and I didn't understand how one can love Ruby and JavaScript at the same time.
      When I showed him a piece of my JavaScript in Rails code, and we started refactoring together, I finally started to see
      what JavaScript <em>could</em> be - but almost never is. I admire his ability to play with the differences between the languages. And it's good fun to work with him."
    </div>
    <div class="intro">
      DJ about Maud:

    </div>
  </div>
</section>


