<!--Text contents for the cards-->
<% content_for :learn do %>
  You will learn a LOT!
<% end %>
<% content_for :harvest do %>
  It will change a LOT!
<% end %>
<% content_for :bonus do %>
  ES6, webpacker and more
<% end %>
<% content_for :amsrb do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam distinctio dolor esse exercitationem,
  facilis inventore ipsa.
<% end %>
<% content_for :pricing do %>
  Corona pricing: pay if you can, join if you want
<% end %>

<section class="triangle">
  <div>
    <div class="hero-txt">
      <div class="hero-over-title"> How to write and maintain</div>
      <div class="hero-title">Clean JavaScript Code in your Rails App</div>
      <!--      <hr class="separator-line">-->
      <div class="hero-payoff">An online course about writing, organising and re-using JavaScript code for Ruby on Rails
        developers
      </div>

    </div>
  </div>
</section>

<section class="text-container">
  <div class="cards">
    <div class="card">

      <div class="card-header">
<!--        <div><%#= image_tag("learn-icon", size: 32, alt: "icon") %></div>-->
        <div class="card-title course-appetite">What you will learn</div>
      </div>
      <div class="card-text">
        <%= yield :learn %>
      </div>
    </div>
    <div class="card">
      <div class="card-title course-appetite">What it means for your Rails app</div>
      <div class="card-text">
        <%= yield :harvest %>
      </div>
    </div>
    <div class="card">
      <div class="card-title course-appetite">Bonus Content</div>
      <div class="card-text">
        <%= yield :bonus %>
      </div>
    </div>
    <div class="card">
      <div class="card-title course-around">Ams ruby workshop</div>
      <div class="card-text">
        <%= yield :amsrb %>
        </div>
    </div>
    <div class="card">
      <div class="card-title course-around">Corona Pricing</div>
      <div class="card-text">
        <%= yield :amsrb %>
      </div>

    </div>
    <div class="card">
      <div style="color: orange">enroll now
      </div>
    </div>
  </div>
</section>

