<header>
  <div class="logo">logo</div>
  <nav>
    <ul>
      <li><%=link_to "About the Course", root_path(anchor: "course-content") %></li>
      <li><%=link_to "Is this for you?", root_path(anchor: "foryou") %></li>
      <li><%=link_to "ams.rb workshop", root_path(anchor: "amsrb") %></li>
      <li><%=link_to "About us", root_path(anchor: "aboutus") %></li>
    </ul>
  </nav>
  <div class="account">
    <div class="tooltip">
      <%=link_to "☰", '#'  %>
      <div class="tooltiptext">
        In the course you will make the hamburger toggle with clean and DRY JavaScript!
      </div>
    </div>
  </div>
</header>
