<header>
  <div class="logo">logo</div>
  <nav>
    <ul>
      <li><%=link_to "course content", root_path(anchor: "course-content") %></li>
      <li><%=link_to "goals", root_path(anchor: "goals") %></li>
      <li><%=link_to "ams.rb workshop", root_path(anchor: "amsrb") %></li>
      <li><%=link_to "About us", root_path(anchor: "aboutus") %></li>
    </ul>
  </nav>
  <div class="account">
    <%=link_to "☰", '#'  %>
  </div>
</header>
